body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    color:#fbb040;
    font-weight: bold;
    text-shadow: 2px 2px #292826;
    padding-top: 64px;
}

p {
    font-size: 24px;
   color: #fbb040;
   font-weight: bold;
   text-shadow: 2px 2px #292826;
   
}

button {
    background-color: #fbb040;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    text-shadow: .5px .5px #292826;
    box-shadow: .5px 1px #12100e;
}

.password {
    height: 28px;
}

.NavbarItems {
	background-color: teal;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

.navbar-logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
}

.logo-photo {
	justify-self: start;
	margin-left: 36px;
	cursor: pointer;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 2rem;
}

.nav-links {
	color: orange;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	background-color: #fbb040;
	border-radius: 4px;
	transition: all 0.2 ease-out;
}

.fa-bars {
	color: #fff;
}

.nav-links-mobile {
	display: none;
}

.menu-icon{
	display: none;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 500px;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #fbb040;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #fbb040;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #fbb040;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}

	.nav-links-mobile:hover {
		background: #fff;
		color: #fbb040;
		transition: 250ms;
	}
}